<!DOCTYPE html>
<html>
<head>
    <title>班级名字列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.0.0.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.0.0.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="text-align: center; width: 320px;margin: auto;">
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18金融2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18金融1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18金属</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18酒店6WD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18酒店5B</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18酒店4B</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18酒店3ZD</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18酒店2Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18酒店1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18通信2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18通信1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18软件2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18软件1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18车辆4Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18车辆3Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18车辆2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18车辆1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18资源2Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18资源1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18财务3Z</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18财务2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18财务1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18计4ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18计3Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18计2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18计1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18视传6Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18视传5Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18视传4</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18视传3</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18视传2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18视传1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18装备</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18营销6B</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18营销5B</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18营销4ZD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18营销3Z</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18营销2Z</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18营销1Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18英语2S</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18英语1S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18自动化</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18美术2S</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18美术1S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18网络</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18统计</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18经统2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18经统1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18秘书2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18秘书1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18电气3WD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18电气2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18电气1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18电子3S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18电子2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18电子1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18环设2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18环设1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18环科</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18环境2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18环境1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18物联网3ZD</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18物联网2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18物联网1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18测控Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18汽服5S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18汽服4BD</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18汽服3ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18汽服2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18汽服1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18模具3Z</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18模具2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18模具1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18材料2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18材料1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18机电4Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18机电3Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18机电2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18机电1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18机制6WD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18机制5WD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18机制4ZD</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18机制3S</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18机制2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18机制1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18服饰S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18日语2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18日语1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18旅游2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18旅游1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18数学2S</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18数学1S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18心理2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18心理1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18德语2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18德语1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18应化2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18应化1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18小教3S</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18小教2S</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18小教1S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18学前2S</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18学前1S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18媒体2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18媒体1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18国贸4WD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18国贸3ZD</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18国贸2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18国贸1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18商英3</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18商英2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18商英1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">18品设2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18品设1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18化工2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18化工1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18信息2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18信息1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18会计3</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18会计2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18会计1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18人资2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18人资1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">18交通2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18交通1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18中美金融</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18中美计</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">18中文2S</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18中文1S</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">18中德环境</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">18中德机械3</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">18中德机械2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">18中德机械1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17金融2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17金融1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17金属</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17酒店2ZD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17酒店1ZD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17通信2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17通信1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17软件2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17软件1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17车辆3Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17车辆2Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17车辆1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17资源2Z</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17资源1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17财务4B</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17财务3Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17财务2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17财务1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17计服2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17计服1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17计5ZD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17计4ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17计3Z</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17视传6Z</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17视传5Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17视传4</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17视传3</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17视传2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17视传1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17装备</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17营销4B</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17营销3ZD</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17营销2Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17营销1Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17英语2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17英语1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17自动化2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17自动化1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17美术2S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17美术1S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17网络</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17统计</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17经统2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17经统1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17秘书</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17电气5WD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17电气4WD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17电气3ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17电气2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17电气1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17电子4S</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17电子3ZD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17电子2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17电子1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17环设3ZD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17环设2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17环设1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17环科</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17环境2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17环境1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17物联网3ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17物联网2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17物联网1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17测控Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17汽服5S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17汽服4BD</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17汽服3ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17汽服2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17汽服1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17模具3Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17模具2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17模具1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17材料2BD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17材料1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17机电5WD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17机电4Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17机电3Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17机电2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17机电1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17机制7WD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17机制6WD</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17机制5WD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17机制4ZD</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17机制3ZD</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17机制2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17机制1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17服饰4BD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17服饰3BD</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17服饰2Z</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17服饰1S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17日语3</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17日语2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17日语1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17旅游2Z</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17旅游1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17数学2S</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17数学1S</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17心理2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17心理1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17德语2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17德语1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17应化2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17应化1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17工设2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17工设1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17小教2S</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17小教1S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17学前S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17媒体</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">17国贸5WD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17国贸4WD</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17国贸3BD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17国贸2ZD</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17国贸1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17商英3</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17商英2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17商英1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17品设2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17品设1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17化工2BD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17化工1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17信息2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">17信息1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17会计5</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17会计4</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">17会计3</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17会计2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17会计1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17人资2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17人资1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17交通</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17中文2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">17中文1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17中德环境</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">17中德机械3</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">17中德机械2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">17中德机械1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16金融3</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16金融2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16金融1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16酒店2ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16酒店1Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16通信2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16通信1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16软件国际C</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16软件2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16软件1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16车辆3Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16车辆2Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16车辆1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16资源2Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16资源1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16财务3Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16财务2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16财务1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">16计服2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16计服1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16计5ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16计4ZD</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16计3Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16装备</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16营销2Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16营销1Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16英语2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16英语1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16自动化</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16美术2S</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16美术1S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16网络</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16统计</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16经统2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16经统1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16秘书</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16电气2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16电气1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16电子3S</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16电子2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16电子1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16环设4ZD</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16环设3ZD</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16环设2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16环设1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16环境2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16环境1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16物联网2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16物联网1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16测控2Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16测控1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16汽服4S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16汽服3ZD</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16汽服2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16汽服1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16模具3Z</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">16模具2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16模具1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16材料2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16材料1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16机电4Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16机电3Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16机电2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16机电1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16机制5S</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16机制4ZD</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16机制3</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">16机制2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16机制1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16服饰2Z</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16服饰1S</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16日语3</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16日语2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16日语1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16旅游2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16旅游1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16数学S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16心理2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16心理1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16德语2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16德语1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16应化2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16应化1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16平艺2Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16平艺1Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16工设2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16工设1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16小教3S</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16小教2S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16小教1S</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16媒艺2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">16媒艺1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">16媒体2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16媒体1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16国际国贸（英语）</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16国贸国际C</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16国贸2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16国贸1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16商英3</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16商英2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16商英1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16品设2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16品设1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16化工1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16动画2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16动画1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16信息2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16信息1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16会计4</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16会计3</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">16会计2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16会计1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16人资2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">16人资1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16交通</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16中文2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">16中文1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16中德环境</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">16中德机械3</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">16中德机械2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">16中德机械1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15金融3</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15金融2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15金融1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15通信2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">15通信1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15车辆2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15车辆1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15资源2Z</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15资源1Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15财务3Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15财务2Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15财务1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15装备</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15营销2Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15营销1Z</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">15英2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15英1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15自动化</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15统计</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15经统2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15经统1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15秘书</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15电气2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15电气1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15电子3S</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15电子2Z</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15电子1Z</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15环境2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15环境1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15物联网</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15测控2</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15测控1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">15汽车特招</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15汽服3S</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15汽服2Z</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15汽服1</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">15模具4Z</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15模具3Z</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15模具2</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">15模具1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15材料2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15材料1</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15机电4Z</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15机电3Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15机电2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15机电1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15机制6</button>
<button type="button" class="btn btn-secondary" style="margin: 5px;margin-bottom: 0px;">15机制5S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15机制4Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15机制3Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15机制2Z</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15机制1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15日语2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15日语1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15数学S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15心理2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15心理1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15德语2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15德语1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15应化2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15应化1</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15小教2S</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15小教1S</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15国贸2</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15国贸1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15商英3</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15商英2</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15商英1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15化工2</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15化工1</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15会计ACCA</button>
<button type="button" class="btn btn-primary" style="margin: 5px;margin-bottom: 0px;">15会计3</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15会计2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15会计1</button>
<button type="button" class="btn btn-success" style="margin: 5px;margin-bottom: 0px;">15人资2</button>
<button type="button" class="btn btn-dark" style="margin: 5px;margin-bottom: 0px;">15人资1</button>
<button type="button" class="btn btn-info" style="margin: 5px;margin-bottom: 0px;">15交通2</button>
<button type="button" class="btn btn-warning" style="margin: 5px;margin-bottom: 0px;">15交通1</button>
<button type="button" class="btn btn-danger" style="margin: 5px;margin-bottom: 0px;">15中文</button>
</body>
</html>