<!DOCTYPE html>
<head>
<meta charset="UTF-8"/>
<title>自动生成无课表</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.0.0.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fileinput.min.css')}}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-4.0.0.min.js')}}"></script>
<!-- the main fileinput plugin file -->
<script src="{{ url_for('static', filename='js/fileinput.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/zh.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-switch.js')}}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">

</style>
</head>
<body background="">
<br>
<main>
    {% for message in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
<div class="container" style="padding-left: 0px;padding-right: 0px;width: 320px;">
<div class="acard" style="padding-top: 3px;padding-bottom: 3px;background-color: #5b7edc;">
    <h1 class="text-center" style="color: white;">
    自动生成无课表
    </h1>
</div>
<br>
<div class="acard card" style="background-color: #dc3545;color: white;">
  <div class="card-body">
    <h5 class="card-title">公告!</h5>
    <p class="card-text">由于尚未收到教务处英语课数据，现在网站生成的无课表中将缺少英语课。收到以后会删除此条告示。请耐心等待！</p>
  </div>
</div>
<br>
<div class="btn-group acard" role="group" aria-label="Basic example" style="width: 320px">
<button id="b_left" onclick="javascrtpt:window.location.href='{{ url_for('instructions')}}'" type="button" class="btn btn-outline-info btn-lg" style="background-color: white;width: 161px;">查看使用说明</button>
<button id="b_right" onclick="javascrtpt:window.location.href='{{ url_for('static', filename='test/input.xls')}}'" type="button" class="btn btn-outline-info btn-lg" style="background-color: white;width: 160px;">下载示例文件</button>
</div>
<br>
<br>
<form action="/process_form" method="POST" enctype="multipart/form-data">
    <div class="acard" style="background-color: white">
        <input id="uploadfile" type="file" name="file" data-preview-file-type="text">
    </div>
    <br>
    <div class="card acard">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <input type="checkbox" id="four_class_a_day" name="options" value="four_class_a_day">
            <span>
                        按每天四节大课显示
            </span>
            </li>
            <li class="list-group-item">
            <input type="checkbox" id="no_night" name="options" value="no_night">
            <span>
                        不显示晚上的三节课
            </span>
            </li>
            <li class="list-group-item">
            <input type="checkbox" id="no_weekend" name="options" value="no_weekend">
            <span>
                        不显示周末的课
            </span>
            </li>
            <li class="list-group-item">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">显示第</span>
                </div>
                <input type="text" class="form-control" value="1" name="from_week">
                <div class="input-group-prepend">
                    <span class="input-group-text">周，到</span>
                </div>
                <input type="text" class="form-control" value="18" name="to_week">
                <div class="input-group-prepend">
                    <span class="input-group-text">周</span>
                </div>
            </div>
            </li>
        </ul>
    </div>
    <br>
    <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block acard" onclick="function(){$('html,body').animate({scrollTop: '0px'}, 800);}">生成无课表</button>
    <br>
    
    <div class="acard" style="background-color: white;padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;color: #818182;">
        数据仅供参考。如果发现问题麻烦告诉我 QQ：865870740
    </div>
    <br>
    <div class="acard" style="text-align: right; background-color: white;padding-right: 5px; padding-top: 5px;padding-bottom: 5px;color: #818182;">
        数据来源——学校教务管理网站
    </div>
    <br>
    <div class="acard" style="text-align: right; background-color: white;padding-right: 5px; padding-top: 5px;padding-bottom: 5px;color: #818182;">
        ——江苏理工专用
    </div>

</form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
</body>
<script type="text/javascript">
$("#uploadfile").fileinput({
        language: 'zh',
        showUpload: false,
        fileType: "any",
    });
$("[name='options']").bootstrapSwitch({
    onText : "✓",
    offText : "X",
    onColor : "success",
    offColor : "danger"
});
//$("[name='options']").bootstrapSwitch('state', true);
$("#four_class_a_day").on('switchChange.bootstrapSwitch', function(event, state) {
  if(this.checked){
    $("#no_night").bootstrapSwitch('state', true);
  }
});
$("#four_class_a_day").bootstrapSwitch('state', true);
$("#no_night").bootstrapSwitch('state', true);
</script>
</html>